option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    FLASK_DEBUG: "false"
    AWS_REGION: "us-east-1"
    CP_S3_BUCKET: "context-platform-uploads"
    CP_ROLE_ARN: ""
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
